  body {
      background-image:url(../image/bg.jpg);
      background-size: cover;
      padding:0;
      margin:0;
  }
  /*--表格--*/
  table, th, td{
      border:1px solid black;
  }
  table {
      border-collapse:collapse;
      width: 100%;
      cursor:default;
  }
  .bg1{
      text-align:left; 
      background: rgba(204,204,204,0.3);
  }
  .bg2 {
      background: rgba(255,255,204,0.8);
      
  }
  .bg3{
      text-align:center;
      width: auto;
      height: auto;
  }
  /*--表格End--*/
  a {
      border-radius: 5px 5px 5px 5px;
      background:rgba(102,204,255,0.7);
      color: black;
      text-decoration:none;
      outline:none;
      cursor: pointer;
      white-space:nowrap;
  }
   /*--A标签--*/
  /*.flaw {
      background: rgba(204,255,153,0.7);
  }
  .lack {
      background: rgba(255,255,255,0.7);
      color: darkgrey;
      cursor: default;
   }*/
   .qq {
       background: none;
       color: white;
       text-decoration: underline;
       transition: color 0.3s;
   }
   .qq:hover {
       color: deeppink;
       text-decoration: none;
   }
   .order, .shuffle {
       background: none;
       color: yellow;
       text-decoration: underline;
   }
   /*--A标签End--*/
   .main-table {
       margin: 0px 10px 0px 10px;
   }
   .foot {
       text-align: center;
   }
   .back {
       display: inline-block;
       color: white;
       background-color:transparent;
       border-color: white;
       border-style: solid;
       border-width: 1px;
       border-radius: 1px;
       transition: color 0.3s, background-color 0.3s, border-color 0.3s;
       padding: 0.1rem 0.8rem;
   }
   .back:hover {
     color: black;
     background-color: white;
     text-decoration: none;
     border-color: white;
  }
   /*--公告--*/
   .head {
       text-align: center;
       color: red;
       display: none;
   }
   #tip:checked ~ .head {
    display: block;
  }
   #tip:checked ~ #tip4 {
    display: block;
  }
   #tip:checked ~ #tip2 {
    display: none;
  }
  #tip, #tip4 {
    display: none;
  }
  #tip2, #tip4 {
    color: red;
    cursor: pointer;
  }
  #tip3 {
    text-align: center;
    background: rgba(102, 255, 255, 0.5);
  }
  #tip5 {
    color: yellow;
    background: none;
    text-decoration: underline;
  }
  /*--公告End--*/
  .normal{
	
	/* Overriding the default underline styling of the links */
	text-decoration:none !important;
	white-space:nowrap;
	
	display:inline-block;
	vertical-align:baseline;
	position:relative;
	cursor:pointer;
	padding:2px 10px;
	
	background-repeat:no-repeat;

	/* The following two rules are fallbacks, in case
	   the browser does not support multiple backgrounds. */

	background-position:bottom left;
	background-image:url('../buttons/button_bg.png');
	
	/* Multiple backgrounds version. The background images
	   are defined individually in color classes */
	
	background-position:bottom left, top right, 0 0, 0 0;
	background-clip:border-box;
	
	/* Applying a default border raidus of 8px */
	
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	
	/* A 1px highlight inside of the button */
	
	-moz-box-shadow:0 0 1px #fff inset;
	-webkit-box-shadow:0 0 1px #fff inset;
	box-shadow:0 0 1px #fff inset;
	
	/* Animating the background positions with CSS3 */
	/* Currently works only in Safari/Chrome */
	
	-webkit-transition:background-position 1s;
	-moz-transition:background-position 1s;
	transition:background-position 1s;
}

.normal:hover{
	
	/* The first rule is a fallback, in case the browser
	   does not support multiple backgrounds
	*/
	
	background-position:top left;
	background-position:top left, bottom right, 0 0, 0 0;
}

.normal:active{
	/* Moving the button 1px to the bottom when clicked */
	bottom:-1px;
}

/* The three buttons sizes */
/* A more rounded button */
.normal.rounded{
	-moz-border-radius:4em;
	-webkit-border-radius:4em;
	border-radius:4em;
}
/* BlueButton */

.normal{
	color:#0f4b6d !important;
	
	border:1px solid #84acc3 !important;
	
	/* A fallback background color */
	background-color: #48b5f2;
	
	/* Specifying a version with gradients according to */
	
	background-image:	url('../buttons/button_bg.png'), url('../buttons/button_bg.png'),
						-moz-radial-gradient(	center bottom, circle,
												rgba(89,208,244,1) 0,rgba(89,208,244,0) 100px),
						-moz-linear-gradient(#4fbbf7, #3faeeb);

	background-image:	url('../buttons/button_bg.png'), url('../buttons/button_bg.png'),
						-webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
											from(rgba(89,208,244,1)), to(rgba(89,208,244,0))),
						-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4fbbf7), to(#3faeeb));
}

.normal:hover{
	background-color:#63c7fe;
	
	background-image:	url('../buttons/button_bg.png'), url('../buttons/button_bg.png'),
						-moz-radial-gradient(	center bottom, circle,
												rgba(109,217,250,1) 0,rgba(109,217,250,0) 100px),
						-moz-linear-gradient(#63c7fe, #58bef7);
						
	background-image:	url('../buttons/button_bg.png'), url('../buttons/button_bg.png'),
						-webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
											from(rgba(109,217,250,1)), to(rgba(109,217,250,0))),
						-webkit-gradient(linear, 0% 0%, 0% 100%, from(#63c7fe), to(#58bef7));
}

/* Green Button */

.flaw{
	color:#345903 !important;
	border:1px solid #96a37b !important;	
	background-color: #79be1e;
	background-image:url('../buttons/button_bg.png'), url('../buttons/button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(162,211,30,1) 0,rgba(162,211,30,0) 100px),-moz-linear-gradient(#82cc27, #74b317);
	background-image:url('../buttons/button_bg.png'), url('../buttons/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(162,211,30,1)), to(rgba(162,211,30,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#82cc27), to(#74b317));
}

.flaw:hover{
	background-color:#89d228;
	background-image:url('../buttons/button_bg.png'), url('../buttons/button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(183,229,45,1) 0,rgba(183,229,45,0) 100px),-moz-linear-gradient(#90de31, #7fc01e);
	background-image:url('../buttons/button_bg.png'), url('../buttons/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(183,229,45,1)), to(rgba(183,229,45,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#90de31), to(#7fc01e));
}

.lack{
	color:#525252 !important;
	border:1px solid #a5a5a5 !important;	
	background-color: #a9adb1;
	cursor: default;
	background-image:url('../buttons/button_bg.png'), url('../buttons/button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(197,199,202,1) 0,rgba(197,199,202,0) 100px),-moz-linear-gradient(#c5c7ca, #92989c);
	background-image:url('../buttons/button_bg.png'), url('../buttons/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(197,199,202,1)), to(rgba(197,199,202,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#c5c7ca), to(#92989c));
}

.lack:hover{
	background-color:#b6bbc0;
	background-image:url('../buttons/button_bg.png'), url('../buttons/button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(202,205,208,1) 0,rgba(202,205,208,0) 100px),-moz-linear-gradient(#d1d3d6, #9fa5a9);
	background-image:url('../buttons/button_bg.png'), url('../buttons/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(202,205,208,1)), to(rgba(202,205,208,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#d1d3d6), to(#9fa5a9));
}
.lack:active{
	/* Moving the button 0px to the bottom when disabled */
	bottom:0px;
}
.shuoming:active {
    bottom: 0px;
}